.img-full{
    width: 100%;
}
.m-auto{
    margin: auto;
}
a.logo img {
    max-height: 60px;
}
.nav-links .active{
    background-color: #ed8e82 !important;
    border: 1px solid #ed8e82;
    border-color: #ed8e82 !important;
    color: #fff !important;
    cursor: not-allowed;
}
.nav-links .disabled{
    background-color: #ddd !important;
    border: 1px solid #ddd;
    border-color: #ddd !important;
    color: #fff !important;
    cursor: not-allowed;
}
iframe{
    width: 100%;
    height: 100%;
}
.isotope-wrapper .entry-title, .isotope-wrapper .entry-title:last-child {
    min-height: 80px;
}
.color-bg-icon.fa-whatsapp {
    background-color: #09d261;
}
.mb-0{
    margin-bottom: 0px;
}
.bg-maincolor4 {
    background-color: #0e76d7;
}
.color-main {
    border-color: #ffcb05;
    color: #ffcb05 !important;
}
.quote-item .type::before {
    background: #0e76d7;
}
#toTop {
    background-color: #0e76d7;
}
.item-meta {
    color: #ffcb05;
}
.btn-maincolor {
    background-color: #ffcb05;
    border: 3px solid #ffcb05;
}

element.style {
}
.program-section .owl-carousel .owl-dots .owl-dot.active span, .program-section .owl-carousel .owl-dots .owl-dot:hover span, .featured-section .owl-carousel .owl-dots .owl-dot.active span, .featured-section .owl-carousel .owl-dots .owl-dot:hover span, .testimonials-section .owl-carousel .owl-dots .owl-dot.active span, .testimonials-section .owl-carousel .owl-dots .owl-dot:hover span {
    background-color: #0e76d7;
}
.program-section .owl-carousel .owl-dots .owl-dot span, .featured-section .owl-carousel .owl-dots .owl-dot span, .testimonials-section .owl-carousel .owl-dots .owl-dot span {
    border-color: #0e76d7;
}