.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #a768f3;
    border-color: #a768f3;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #e5e9ec !important;
    height: inherit !important;
    padding: 5px 0px !important;
}
.select2-container--default .select2-selection--multiple {
    border: 1px solid #e5e9ec !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px !important;
}