/* Top_BOX */
.light_blue_shedo{
	    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(54, 162, 245, 0.59);
}
.purple_shedo{
	box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(167, 104, 243, 0.57);
}
.red_shedo{
	box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255, 81, 138, 0.6);
}
.homepage_fl_right {
    float: right;
    min-width: 92px;
    text-align: right;
}
.bg_shedo_light{
	    box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(54, 162, 245, 0.59);
}
.bg_shedo_light_green{
	box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(52, 191, 163, 0.52);
}
.bg_shedo_light_red{
	box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255, 81, 138, 0.6);
}
.bg_shedo_light_yellow{
	box-shadow:0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(234, 196, 89, 0.57);
}
.homepage_fl_right h4 {
    font-size: 14px;
    color: #999999;
    font-weight: 400;
    margin-bottom: 9px;
}
.homepage_fl_right h3 {
    font-size: 22px;
    color: #2e2e3a;
    font-weight: 500;
    margin-bottom: 0px;
}
.homepage_single p {
    padding-top:15px;
    font-size: 12px;
    color: #999999;
    border-top: 1px solid #f2f2f2;
    margin-top: 20px;
    margin-bottom: 0px;
    display: inline-block;
    width: 100%;
}
span.fl_right {
    float: right;
    color: #36a2f5;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}


/* USER_PROFILE */
.user_area {
position: relative;
}
.profile_wid_user{
	text-align: center;
}
.profile-widget-head {
    background-image: url(../images/carousal-bg.jpg);
    background-size: cover;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    float: left;
    padding: 30px 0 55px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 0;
    margin-bottom: 50px;
}
.profile-widget-head:before {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
        background: #6a94ff;
    color: #fff;
}
.profile-widget-head > h3 {
    color: #fff;
    font-size: 21px;
    font-weight: bold;
}
.profile-widget-head > i {
    color: #fff;
    font-size: 13px;
    font-style: normal;
    margin-top: 6px;
}
.profile-widget-head > span {
    border: 3px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    bottom: 0;
    left: 50%;
    margin-bottom: -35px;
    margin-left: -40px;
    overflow: hidden;
    position: absolute;
}
.profile-widget-head > span > img {
    float: left;
    width: 70px;
    height: 70px;
}
.profile_wid_user > h4 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.3px;
    margin: 0 0 15px;
}
   .profile_wid_user > span {
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    -o-border-radius: 21px;
    border-radius: 21px;
    color: #fff;
    display: table;
    margin: 0 auto;
    padding: 7px 16px;
        background:#6c50f3;
}
.profile_wid_user > span > i {
    margin-right: 7px;
}
.profile_wid_user > p {
    margin-top: 15px;
    padding: 0 22px;
    text-align: center;
}.profile_wid_user > p {
    margin-top: 10px;
        margin-bottom: 10px;
    padding: 0 22px;
    text-align: center;
	    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.profile_wid_user > a {
    color: #a5a5a5;
    float: left;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.3px;
    margin-bottom: 15px;
    margin-top: 0;
    text-align: center;
    width: 100%;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.social-btns {
    float: right;
    list-style: none outside none;
    margin: -35px 0 0;
    padding: 0;
}
.social-btns > li {
    float: right;
    list-style: none outside none;
    margin-left: 6px;
}
.social-btns > li > a {
    float: left;
}
.profile_wid_user > .social-btns {
    display: table;
    float: none;
    margin: 0 auto 30px;
}

.social-btns > li > a > i {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    color: #fff;
    float: left;
    font-size: 16px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 31px;
}
.social-btns > li > a > i.fa-facebook {
    background: #3b5998;
}
.social-btns > li > a > i.fa-google-plus {
    background: #dd4b39;
}
.social-btns > li > a > i.fa-twitter {
    background: #439ed6;
}

/* ReCent_Sale_TAble */
.users-list .list_membler{
	display: inline-block;
	width: 32px;
	    position: relative;
    white-space: nowrap;
    border-radius: 1000px;
    vertical-align: bottom;
}
.users-list li+li {
    margin-left: -14px;
}
.users-list li .badge {
background: rgba(255,255,255,.8) !important;
    color: #53505f;
    margin-bottom: 6px;
    font-weight: normal;
}
.users-list li img {
    border: 2px solid #FFF;
    -webkit-box-shadow: 0 2px 10px 0 rgba(107,111,130,.3);
    box-shadow: 0 2px 10px 0 rgba(107,111,130,.3);
        width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 1000px;
}
.pull-up {
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
}
.pull-up:hover {
    -webkit-transform: translateY(-4px) scale(1.02);
    -moz-transform: translateY(-4px) scale(1.02);
    -ms-transform: translateY(-4px) scale(1.02);
    -o-transform: translateY(-4px) scale(1.02);
    transform: translateY(-4px) scale(1.02);
    -webkit-box-shadow: 0 14px 24px rgba(62,57,107,.2);
    box-shadow: 0 14px 24px rgba(62,57,107,.2);
    z-index: 999;
}
.widthfull{
	width: 100%;
}
.martop_10{
	margin-top: -10px;
}

.h_rainfall {
    height: 277px;
    width: 100%;
}
